<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tc3.thinkInJava.dao.UserMapper">

    <select id="getUserById"  parameterType="int" resultType="com.tc3.thinkInJava.bean.User">
      select * from user where user_id = #{id}
    </select>

    <select id="getAllUser" resultType="com.tc3.thinkInJava.bean.User">
        select * from user
    </select>
</mapper>